/* font face */
@font-face {
    font-family: Gidolinya;
    src: url(../dl/Gidolinya-Regular.otf);
}

/* keyframes */
@keyframes fadeIn { 
    from { opacity:0; } 
    to { opacity:1; } 
}
@keyframes shakeVertical { 
    0%, 100% {transform: translate(0px);} 
    20%, 60% {transform: translate(10px);}
    40%, 80% {transform: translate(-10px);}
}

/* contentholder class */
.contentholder {
    border: none;
    margin: 0 auto;
    text-align: center;
    width: 50vw;
}

/* avatar class */
.avatar {
    animation: fadeIn ease 1 forwards;
    animation-duration: 2s;
    border-radius: 50%;
    box-shadow: 0 0 25px white;
    opacity: 0;
    transition: 0.2s;
}
.avatar:hover {
    transform: scale(1.1, 1.1);
}

/* disabled class */
.disabled {
    filter: brightness(0.8);
}

/* h1 class */
h1 {
    animation: fadeIn ease 1 forwards;
    animation-delay: 0.5s;
    animation-duration: 2s;
    opacity: 0;
}

/* h2 class */
h2 {
    animation: fadeIn ease 1 forwards;
    animation-delay: 1.5s;
    animation-duration: 2s;
    opacity: 0;
}

/* p class */
p {
    animation: fadeIn ease 1 forwards;
    animation-delay: 1s;
    animation-duration: 2s;
    opacity: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: Gidolinya;
}

a {
    color: lightgray;
    font-family: Gidolinya;
}
