/* font face */
@font-face {
    font-family: Gidolinya;
    src: url(../assets/Gidolinya-Regular.otf);
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* contentholder class */
.contentholder {
    vertical-align: middle;
    border: none;
    height: 575px;
    text-align: center;
    padding: 20px 20px;
    width: 600px;
}

/* image class */
.image {
    -webkit-box-shadow: 0 0 25px white;
    -webkit-transition: 0.2s;
    -webkit-transition-timing-function: ease;
    border-radius: 50%;
}
.image:hover {
    -webkit-transform: scale(1.1, 1.1);
}

.menu {
    position: fixed;
	color: white;
	width: 1000px;
	height: 100px;
}

/* button class */
button {
    -webkit-animation-delay: 2s;
    -webkit-animation: fadeIn ease 1;
	font-size: 22px;
    -webkit-transition: 0.4s;
    -webkit-transition-timing-function: ease;
    border: none;
	font-weight:bold;
	background: white;
    border-radius: 10px;
    padding: 25px 25px;
}
button:hover {
    -webkit-transform:rotate(10deg);
}
img {
    -webkit-animation: fadeIn ease 1;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode:forwards;
	opacity: 0;
}

h1 {
    -webkit-animation: fadeIn ease 1;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode:forwards;
	opacity: 0;
}

h2 {
    -webkit-animation: fadeIn ease 1;
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode:forwards;
	opacity: 0;
}

p {
    -webkit-animation: fadeIn ease 1;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode:forwards;
	opacity: 0;
}

* {
    color: white;
    font-family: Gidolinya;
}
