/* font face */
@font-face {
    font-family: Gidolinya;
    src: url(../files/Gidolinya-Regular.otf);
}

/* keyframes */
@keyframes fadeIn { 
    from { opacity:0; } 
    to { opacity:1; } 
}

/* content class */
.content {
    animation: fadeIn ease forwards;
    animation-duration: 2s;
    border: none;
    margin: 0 auto;
    opacity: 0;
    text-align: center;
    width: 50vw;
}

/* a element */
a {
    color: lightgray;
    font-family: Gidolinya;
}

/* h1, h2, h3, h4, h5, h6, and p elements */
h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: Gidolinya;
}
