/* font face */
@font-face {
    font-family: Gidolinya;
    src: url(../files/Gidolinya-Regular.otf);
}

/* keyframes */
@keyframes fadeIn { 
    from { opacity:0; } 
    to { opacity:1; } 
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}

/* scrollbar */
::-webkit-scrollbar { 
    display: none; 
}

/* content class */
.content {
    animation: fadeIn ease forwards;
    animation-duration: 2s;
    border: none;
    margin: 0 auto;
    opacity: 0;
    text-align: center;
    width: 50vw;
}

/* mobile class */
.mobile {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* menu class */
.menu {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px white;
    height: 160px;
    left: 0%;
    position: fixed;
    top: 36%;
    width: 40px;
}

/* a element */
a {
    color: lightgray;
    font-family: Gidolinya;
}

/* button element */
button {
    background: white;
    border: none;
}

/* select element */
select {
    background: rgba(255, 255, 255, 0.5);
    color: white;
    font-family: Gidolinya;
}

/* h1, h2, h3, h4, h5, h6, and p elements */
h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: Gidolinya;
    font-size: 18px;
}

.rouletteWheel {
    -webkit-animation:spin 5s ease-out infinite;
    -moz-animation:spin 5s ease-out infinite;
    animation:spin 5s ease-out infinite;
}
