@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes rainbow {
    0% {color: red;}
    16% {color: orange;}
    32% {color: yellow;}
    48% {color: green;}
    64% {color: blue;}
    80% {color: purple;}
    96% {color: red;}
}

@keyframes refresh {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-45deg);}
    80% {transform: rotate(225deg);}
    100% {transform: rotate(180deg);}
}

.background-image {
    background-attachment: fixed;
    background-color: black;
    background-image: url('files/kristopher-roller-110203.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.credit {
    bottom: 0;
    font-size: 12px;
    position: absolute;
    right: 20px;
}

.fadeIn1 {
    animation: fadeIn 1s ease-out 1s 1 forwards;
    opacity: 0;
} .fadeIn2 {
    animation: fadeIn 1s ease-out 2s 1 forwards;
    opacity: 0;
}

.montserrat-bold {
    font-family: 'Montserrat';
    font-weight: bold;
} .montserrat-regular {
    font-family: 'Montserrat';
    font-weight: normal;
}

body {
    cursor: url('files/dango_cursor_by_mushroma-d56okmj.png'), auto;
}

div {
    box-shadow: 0px 0px 16px white;
    margin: 0 auto;
    border-radius: 2px;
    background-color: white;
    opacity: 0.1;
    transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
} div:hover {
    opacity: 0.8;
}

a,h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}
