@keyframes background {
    from {background-position: 0 0;}
    to {background-position: 0 128px;}
}

* {
    margin: 0;
}

.center {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -128px);
    -ms-transform: translate(-50%, -128px);
    transform: translate(-50%, -128px);
    width: 512px;
}

a {
    color: lime;
}

body {
    animation: background 8s linear infinite;
    background: black url("images/background.gif") repeat fixed;
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
    font-family: courier;
}

option {
    border: none;
}

p {
    color: cyan;
    font-size: 12px;
}

select {
    background-color: black;
    border: none;
    color: white;
}
