/* blue class */
.blue {
	background-color: rgba(0, 0, 230, 0.9);
}
.blue:hover {
	background-color: rgba(0, 0, 255, 0.9);
}

/* box class */
.box {
	background-color: rgba(255, 255, 255, 0.9);
	border: none;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px 50px;
}

/* button class */
.button {
	border: none;
	padding: 20px 20px;
}

/* green class */
.green {
	background-color: rgba(0, 102, 0, 0.9);
}
.green:hover {
	background-color: rgba(0, 128, 0, 0.9);
}

/* orange class */
.orange {
	background-color: rgba(230, 149, 0, 0.9);
}
.orange:hover {
	background-color: rgba(255, 165, 0, 0.9);
}

/* purple class */
.purple {
	background-color: rgba(102, 0, 102, 0.9);
}
.purple:hover {
	background-color: rgba(128, 0, 128, 0.9);
}

/* red class */
.red {
	background-color: rgba(230, 0, 0, 0.9);
}
.red:hover {
	background-color: rgba(255, 0, 0, 0.9);
}

/* yellow class */
.yellow {
	background-color: rgba(230, 230, 0, 0.9);
}
.yellow:hover {
	background-color: rgba(255, 255, 0, 0.9);
}