@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@keyframes rainbow{
  0%{background-position-x:0}
  to{background-position-x:10240px}
}

@keyframes refresh {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-45deg);}
    80% {transform: rotate(225deg);}
    100% {transform: rotate(180deg);}
}

.rainbow{
    font-family: 'Montserrat';
    font-weight: bold;
  font-size: 64px;
  color:transparent;
  background:linear-gradient(270deg,#1e5799,#2ce0bf,#76dd2c,#dba62b,#ff1493,#1e5799);
  background-size:1024px 100%;
  animation:rainbow 35s linear infinite;
  -webkit-background-clip:text;
}

body {
    animation: sharpen 4s linear 0s 1 forwards;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
