@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes color {
    0% {color: magenta; text-shadow: 0 0 40px magenta;}
    100% {color: cyan; text-shadow: 0 0 4px cyan;}
}

@keyframes refresh {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-45deg);}
    80% {transform: rotate(225deg);}
    100% {transform: rotate(180deg);}
}

@keyframes sharpen {
    0% {background-image:url(kristopher-roller-110203-scaled.jpg); filter: blur(40px);}
    50% {background-image:url(kristopher-roller-110203-scaled.jpg); filter: blur(40px);}
    100% {background-image:url(kristopher-roller-110203.jpg); filter: blur(0px);}
}

.fadeIn1 {
    animation: fadeIn 1s ease-out 4s 1 forwards;
    opacity: 0;
} .fadeIn2 {
    animation: fadeIn 1s ease-out 5s 1 forwards;
    opacity: 0;
}

.montserrat-bold {
    font-family: 'Montserrat';
    font-weight: bold;
} .montserrat-regular {
    font-family: 'Montserrat';
    font-weight: normal;
}

.preload {
    height: 0;
    opacity: 0;
    width: 0;
}

.color1 {
    animation: color 5s linear 0s infinite forwards;
} .color2 {
    animation: color 5s linear 1s infinite forwards;
} .color3 {
    animation: color 5s linear 2s infinite forwards;
} .color4 {
    animation: color 5s linear 3s infinite forwards;
} .color5 {
    animation: color 5s linear 4s infinite forwards;
}

body {
    animation: sharpen 4s linear 0s 1 forwards;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('dango_cursor_by_mushroma-d56okmj.png'), auto;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

h1 {
    color: white;
    font-size: 64px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    text-shadow: 0 0 2px white;
}
