@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes refresh {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-45deg);}
    80% {transform: rotate(225deg);}
    100% {transform: rotate(180deg);}
}

.fadeIn1 {
    animation: fadeIn 1s ease-out 1s 1 forwards;
    opacity: 0;
} .fadeIn2 {
    animation: fadeIn 1s ease-out 2s 1 forwards;
    opacity: 0;
}

.montserrat-bold {
    font-family: 'Montserrat';
    font-weight: bold;
} .montserrat-regular {
    font-family: 'Montserrat';
    font-weight: normal;
}

body {
    background-color: black;
    background-image: url('kristopher-roller-110203.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('dango_cursor_by_mushroma-d56okmj.png'), auto;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

h1 {
    color: white;
    font-size: 64px;
    padding: 128px 0;
    text-align: center;
    text-shadow: 0 0 4px white;
}

h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    text-shadow: 0 0 2px white;
}
